/* geral */
body{
    background-color: rgb(12, 12, 12);
}

li, h1, p, h2, a{
   color: #fff;
   margin: 50px 2%;
}

h2 {
    font-size: 30px;
}

p, li ,a{
    font-size: 20px
}

ul {
  list-style-type: none;
}

/* primeira parte */

header{
    text-align: left;
    gap: 50px;
    justify-content: center;
}

header img{
    max-width: 200px;
    border-radius: 50%;
}



/*Parte do meio*/
img{
    max-width: 60px;
}




 /* parte de baixo */
footer{
     display: flex;
     align-items: center;
     justify-content: space-between ;
}
footer img {
    max-width: 80px;
}